section.media-header {
  background-image: url('../images/media-top.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.icons-navbar {
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 100;
}

.icons-navbar a {
  text-decoration: none !important;
}

.icons-navbar i {
  display: inline-block;
  font-size: 2rem;
  line-height: 3rem;
  background: black;
  width: 3rem;
  height: 3rem;
  color: white;
  border-radius: 50%;
  margin: 1rem 0.5rem;
  -webkit-box-shadow: 7px 2px 13px 3px rgba(255,255,255,0.76);
  box-shadow: 7px 2px 13px 3px rgba(255,255,255,0.76);
}

.header-img-container {
  width: 100%;
  position: relative;
  text-align: center;
  opacity: 0;
}

.header-img-container .header-img {
  width: 80%;
  height: auto;
  margin: 50px 0 4rem;
  border: 3px solid black;
  -webkit-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.63);
  box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.63);
}

nav {
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  font-family: 'Permanent Marker';
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul, nav li, nav img {
  display: inline-block;
  margin: 0;
}

nav ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  width: 40vw
}

nav ul.left {
  padding-right: 3rem;
  text-align: right;
}

nav ul.right {
  padding-left: 3rem;
  text-align: left;
}

nav img {
  width: 20vw;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: rgba(255, 255, 255, 0.6);
}

nav.left {
  background-color: black;
  opacity: 0.8;
  text-align: center;
  list-style-type: none;
  width: 100%;
}

nav.right {
  background-color: black;
  opacity: 0.8;
  text-align: center;
  list-style-type: none;
  width: 100%;
}

.mobile-nav-button {
  background: transparent;
  color: white;
  margin: 0.5rem 0;
}

.mobile-nav {
  text-align: center;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  background-color: rgba(0,0,0,0.9);
  padding: 0.5rem 0;
}

.mobile-nav li {
  margin-bottom: 1rem;
}

.mobile-nav a {
  color: white;
}


.modal-title {
    text-align: left;
}

.h1 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-weight: 700;
  padding: 10px;
  text-shadow: 3px 4px 3px rgba(150, 150, 150, 1);
}

.shadow {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  margin: 0.5rem;
}
.shadow:hover {
  cursor: pointer;
}

.photo-row {
  margin-top: 2rem;
}

#videos {
  margin-top: 4rem;
}
